<div class="container">
    <input type="hidden" id="query" value={{query}}>
    <input type="hidden" id="communityAlg" value={{communityAlg}}>

    <form [formGroup]="filterForm">
        <mat-card>
            <!-- Campo de busca por keyword -->
            <mat-form-field class="keyword-filter" appearance="outline">
                <mat-label>Palavra-chave</mat-label>
                <input matInput formControlName="keyword" id="keyword" placeholder="Pesquise por uma palavra-chave...">
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            </mat-form-field>

            <!-- Campo para seleção de período de busca -->
            <mat-form-field class="period-filter" appearance="outline">
                <mat-label>Selecione um período</mat-label>
                <mat-select formControlName="period">
                    <mat-option value="0">Todos os anos</mat-option>
                    <!-- <mat-option value="1">1995 - 2000</mat-option> -->
                    <mat-option value="2">2001 - 2005</mat-option>
                    <mat-option value="3">2006 - 2010</mat-option>
                    <mat-option value="4">2011 - 2015</mat-option>
                    <mat-option value="5">2016 - 2018</mat-option>
                </mat-select>
            </mat-form-field>

            <button *ngIf="filterForm.controls['keyword'].value == ''" mat-raised-button class="search-button" color="primary" onclick="filter()">Pesquisar</button>
        </mat-card>
        <mat-card *ngIf="filterForm.controls['keyword'].value != ''">
            <div class="visualization-container">
                <label>Selecione a forma de visualização de palavras-chave:</label>
                <mat-radio-group class="radio-group" formControlName="visualizationType">
                    <mat-radio-button color="primary" value="community">Comunidade</mat-radio-button>
                    <mat-radio-button color="primary" value="neighbors">Palavras relacionadas</mat-radio-button>
                    <mat-slider formControlName="neighborsNumber" [min]="1" [max]="3" [thumbLabel]="true" color="primary"></mat-slider>
                </mat-radio-group>
            </div>
            <button mat-raised-button class="search-button" color="primary" onclick="filter()">Pesquisar</button>
        </mat-card>
    </form>
    <mat-card class="graph-view-card">
        <p id="empty-result">Nenhum resultado encontrado...</p>
        <div id="loading">
            <mat-spinner></mat-spinner>
        </div>
        <div id="visualization"></div>
    </mat-card>
</div>
